<div class="container-fluid trusted">
   <div class="row py-3">
    <div class="d-flex">
        <div class="col-5">
            <div class="py-4">
                <h4>The Most Trusted Builders in Kerala</h4>
                <p style="font-size: bolder;">Mission Statement</p>
            </div>
            <div>
                <p>We, at Varma Homes, have always believed in Constructing Happiness for our customers who believe in 
                    investing safely in happy homes for generations to come.</p>
                    <p>We have maintained our exceptional quality and high 
                        standards over the years and this includes choosing vendors and partners who are equally responsible so that 
                        our customers have only the best.
                    </p>
                    <p>
                        We, at Varma Homes strive to satisfy all stake holders, investors and employees.
                    </p>
            </div>
            <div>
                <button type="button" class="btn btn-outline-light" routerLink="demo2">Read More</button>
            </div>
        </div>
        <div class="col-6 videothumb">
            <div class="py-4">
                <div class="position-relative video-box">
                    <img src="/assets/image/video_thumb.webp" alt="videothumb" class="img-fluid" />
                    <div class="position-absolute top-50 start-50">
                        <a><i class="fa-solid fa-play playbuton fs-2" style="color: #f0f2f4;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>