<div class="container">
    <div class="py-4">
       <div class="row d-flex">
            <div class="col-6">
                <div class="d-flex">
                    <h5>Key Handing Over</h5>
                    <div class="viewmore">
                        <p><i class="fa-solid fa-angle-left mx-1"></i>
                            <span style="color: #ed1651;">VIEW MORE</span>
                            <i class="fa-solid fa-angle-right mx-1"></i>
                        </p>
                    </div>
                </div>
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/assets/image/varma-key-hand-over1.jpg" class="d-block w-100" alt="keyhand01">
                        <div class="carousel-caption d-flex">
                               <div class="ms-0 ps-0">
                                <span>Mr. Rakesh Ravi's Family</span>
                                <p>3A Varma Bougain Heights</p>
                               </div>
                            <div class="me-0 pe-0">
                                <p>10-08-2023</p>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/image/varma-key-hand-over2.jpg" class="d-block w-100" alt="keyhand02">
                        <div class="carousel-caption d-flex">
                                <div class="ms-0 ps-0">
                                    <span>Mr. Ravi</span>
                                    <p>2E Varma Bougain Heights</p>
                                </div>
                            <div class="me-0 pe-0">
                                <p>05-08-2023</p>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/image/varma-key-hand-over3.jpg" class="d-block w-100" alt="keyhand03">
                        <div class="carousel-caption d-flex">
                                <div class="ms-0 ps-0">
                                    <span>Radhika & Family</span>
                                    <p>3A Varma Bougain Heights</p>
                                </div>
                            <div class="me-0 pe-0">
                                <p>05-08-2023</p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <div class="d-flex">
                    <h5>What do Our Customer Say?</h5>
                    <div class="viewmore1">
                        <p><i class="fa-solid fa-angle-left mx-1"></i>
                            <span style="color: #ed1651;">VIEW MORE</span>
                            <i class="fa-solid fa-angle-right mx-1"></i>
                        </p>
                    </div>
                </div>
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                            <div class="row">
                                <div class="col-6 card0101">
                                    <img src="/assets/image/builders-testimonial-1.webp" class="d-block w-100 card-img-top" alt="testi01">
                                    <a><i class="fa-solid fa-play playbuton" style="color: white"></i></a>
                                    <div class="card-body">
                                      <p class="card-text">
                                        Here is the feedback videos from our customer in Varma Dr. Pai's Heritage.
                                       </p>
                                       <div class="py-3">
                                           <h6>
                                            Varsha & Nair
                                            <span>SC Varma Dr. Pai's Heritage</span>
                                           </h6>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-6 card0101">
                                    <img src="/assets/image/builders-testimonial-2.webp" class="d-block w-100 card-img-top" alt="testi02">
                                    <a><i class="fa-solid fa-play playbuton" style="color: white"></i></a>
                                    <div class="card-body">
                                      <p class="card-text">
                                        Here is the feedback videos from our customer in Varma Dr. Pai's Heritage.
                                       </p>
                                       <div class="py-3">
                                           <h6>
                                            Deepu & Lakshmi
                                            <span>10F Varma Dr. Pai's Heritage</span>
                                           </h6>
                                       </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col-6 card0101">
                                <img src="/assets/image/builders-testimonial-2.webp" class="d-block w-100 card-img-top" alt="testi03">
                                <a><i class="fa-solid fa-play playbuton" style="color: white;"></i></a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Here is the feedback videos from our customer in Varma Dr. Pai's Heritage.
                                       </p>
                                      <div class="py-3">
                                           <h6>
                                            Deepu & Lakshmi
                                            <span>10F Varma Dr. Pai's Heritage</span>
                                           </h6>
                                      </div>
                                </div>
                            </div>
                            <div class="col-6 card0101">
                                <img src="/assets/image/builders-testimonial-3.webp" class="d-block w-100 card-img-top" alt="testi04">
                                <a><i class="fa-solid fa-play playbuton" style="color: white;"></i></a>
                                <div class="card-body">
                                    <p class="card-text">
                                        We, at #VarmaHomes, have always believed in Constructing Happiness for our customers.
                                      </p>
                                      <div class="py-3">
                                          <h6>
                                            Arun Mohan & Shimi Mohan
                                            <span>11E Varma Dr. Pai's Heritage</span>
                                          </h6>
                                      </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col-6 card0101">
                                <img src="/assets/image/builders-testimonial-3.webp" class="d-block w-100 card-img-top" alt="testi05">
                                <a><i class="fa-solid fa-play playbuton" style="color: white;"></i></a>
                                <div class="card-body">
                                  <p class="card-text">
                                    We, at #VarmaHomes, have always believed in Constructing Happiness for our customers.
                                  </p>
                                  <div class="py-3">
                                       <h6>
                                        Arun Mohan & Shimi Mohan
                                        <span>11E Varma Dr. Pai's Heritage</span>
                                      </h6>
                                  </div>
                                </div>
                            </div>
                            <div class="col-6 card0101">
                                <img src="/assets/image/builders-testimonial-1.webp" class="d-block w-100 card-img-top" alt="testi06">
                                <a><i class="fa-solid fa-play playbuton" style="color: white;"></i></a>
                                <div class="card-body">
                                    <p class="card-text">
                                        Here is the feedback videos from our customer in Varma Dr. Pai's Heritage.
                                       </p>
                                       <div class="py-3">
                                            <h6>
                                            Varsha & Nair
                                            <span>SC Varma Dr. Pai's Heritage</span>
                                           </h6>
                                       </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>  
        </div>
    </div>
</div>