<div class="container py-5">
      <div class="explore text-center">
          <h1>Explore Our Residential Projects In Kerala</h1>
          <p>The art of design is a craft only a few are blessed with. It takes passion, drive and immense courage. 
              On a mission to Construct Happiness, Varma Homes are on the path towards pioneering exquisite lifestyle
              with our brand new apartment projects across Kerala.
          </p>    
        </div>
            <div class="container py-4">
             <div id="carouselExampleFade" class="carousel slide carousel-fade py-5">
                <div class="carousel-inner">
                  <div class="carousel-item d-flex active">
                    <div class="row">
                      <div class="col-4 text-center">
                        <div class="card m-2 p-2">
                          <div>
                            <img src="/assets/image/building-name/varma-ficus-kochi.jpg" class="card-img-top cardimg" alt="image0101"/>
                            <div class="card-body">
                              <div class="card-title text-center">
                                <img src="/assets/image/building-name/varma-ficus-logo.png" alt="logo01"/>
                              </div>
                              <div class="text-center">
                                <div class="text-center">
                                  <h4>
                                    2/3 BHK Luxirious Appartment
                                  </h4>
                                  <p><i class="fa-solid fa-location-dot pin"></i>Palarivattam,Kochi</p>
                                </div>
                                <hr/>
                                <p>K-RERA/ERN/073/2023</p>
                              </div>
                          </div> 
                        </div>
                      </div>
                      <div class="text-center py-2">
                        <a class="btn view-details" routerLink="demo">VIEW DETAILS</a>
                      </div>
                      </div>
                        <div class="col-4 text-center">
                          <div class="card m-2 p-2">
                            <div >
                              <img src="/assets/image/building-name/varma-connekt-home.jpg" class="card-img-top cardimg" alt="image0102"/>
                              <div class="card-body">
                                <div class="card-title text-center">
                                  <img src="/assets/image/building-name/varma-connekt-logo.png" alt="logo02"/>
                                </div>
                                <div class="text-center">
                                  <h4>
                                    3 BHK Luxuirious Appartment
                                  </h4>
                                  <p><i class="fa-solid fa-location-dot pin"></i>Venalla,Kochi</p>
                                </div>
                                <hr/>
                                <p>K-RERA/ERN/014/2021</p>
                              </div> 
                            </div>
                          </div>
                          <div class="text-center py-2">
                            <a class="btn view-details" routerLink="demo2">VIEW DETAILS</a>
                          </div>
                        </div>
                        <div class="col-4 text-center my-0 py-0">
                          <div class="card m-2 p-2">
                            <div >
                              <img src="/assets/image/building-name/varma-bougain-heights.jpg" class="card-img-top cardimg" alt="image0103"/>
                              <div class="card-body">
                                <div class="card-title text-center">
                                  <img src="/assets/image/building-name/varma-bougain-logo.png" alt="logo03"/>
                                </div>
                                <div class="text-center">
                                  <h4>
                                    2/3 BHK Compact Appartment
                                  </h4>
                                  <p><i class="fa-solid fa-location-dot pin"></i>Chottanikkara,Kochi</p>
                                </div>
                                <hr/>
                                <p>K-RERA/PRJ/093/2020</p>
                              </div>
                            </div>
                          </div>
                          <div class="text-center py-2">
                            <a class="btn view-details" routerLink="demo">VIEW DETAILS</a>
                          </div>
                        </div>
                    </div>
                    </div>
                  <div class="carousel-item d-flex">
                    <div class="row">
                    <div class="col-4">
                      <div class="card m-2 p-2">
                        <div >
                          <img src="/assets/image/building-name/varma-harmony-kochi.jpg" class="card-img-top cardimg" alt="image0201"/>
                          <div class="card-body">
                            <div class="card-title text-center">
                              <img src="/assets/image/building-name/varma-harmony-logo.png" alt="logo04"/>
                            </div>
                              <div class="text-center">
                                <h4>
                                  2/3 BHK Luxury Appartment
                                </h4>
                                <p><i class="fa-solid fa-location-dot pin"></i>Edapally,Kochi</p>
                              </div>
                              <hr/>
                              <p>K-RERA/PRJ/028/2023</p>
                          </div>
                        </div>
                      </div>
                      <div class="text-center py-2">
                        <a class="btn view-details" routerLink="demo2">VIEW DETAILS</a>
                    </div>
                    </div> 
                    <div class="col-4">
                      <div class="card m-2 p-2">
                        <div >
                          <img src="/assets/image/building-name/varma-prime-home.jpg" class="card-img-top cardimg" alt="image0202"/>
                          <div class="card-body">
                            <div class="card-title text-center">
                              <img src="/assets/image/building-name/varma-prime-logo.png" alt="logo05"/>
                            </div>
                             <div class="text-center">
                              <h4>
                                2/3 BHK Luxury Appartment
                              </h4>
                              <p><i class="fa-solid fa-location-dot pin"></i>Vyattila,Kochi</p>
                             </div>
                              <hr/>
                              <p>K-RERA/PRJ/364/2020</p>
                          </div>
                        </div>
                      </div>
                      <div class="text-center py-2">
                        <a class="btn view-details" routerLink="demo">VIEW DETAILS</a>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="card m-2 p-2">
                        <div >
                          <img src="/assets/image/building-name/varma-sreekaryam-home.jpg" class="card-img-top cardimg" alt="image0203"/>
                          <div class="card-body">
                            <div class="card-title text-center">
                              <img src="/assets/image/building-name/sreekaryam.png" alt="logo06" />
                            </div>
                              <div class="text-center">
                                <h4>
                                  2/3 BHK Luxury Appartment
                                </h4>
                                <p><i class="fa-solid fa-location-dot pin"></i>sreekaryam,Trivandpuram</p>
                              </div>
                              <hr/>
                              <p>K-RERA/PRJ/TVM/101/2022</p>
                          </div>
                        </div>
                      </div>
                      <div class="text-center py-2">
                        <a class="btn view-details" routerLink="demo2">VIEW DETAILS</a>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="carousel-item d-flex">
                    <div class="row">
                    <div class="col-4">
                      <div class="card m-2 p-2">
                        <div >
                          <img src="/assets/image/building-name/varma-suburban-home.jpg" class="card-img-top cardimg" alt="image0301"/>
                          <div class="card-body">
                            <div class="card-title text-center">
                               <img src="/assets/image/building-name/suburban.png" alt="logo07"/>
                            </div>
                               <div class="text-center">
                                <h4>
                                  2/3 BHK Luxurury Appartment
                                </h4>
                                <p><i class="fa-solid fa-location-dot pin"></i>Kazzhakottam,Trivandpuram</p>
                               </div>
                              <hr/>
                              <p>K-RERA/PRJ/TVM/076/2022</p>
                          </div>
                        </div>
                      </div>
                      <div class="text-center py-2">
                        <a class="btn view-details" routerLink="demo">VIEW DETAILS</a>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="card m-2 p-2">
                        <div >
                          <img src="/assets/image/building-name/varma-urbanheights-kochi.jpg" class="card-img-top cardimg" alt="image0302"/>
                          <div class="card-body">
                            <div class="card-title text-center">
                              <img src="/assets/image/building-name/varma-urbanheights-logo.png" alt="logo08"/>
                            </div>
                                <div class="text-center">
                                  <h4>
                                    3/4 BHK Luxury Appartment
                                  </h4>
                                  <p><i class="fa-solid fa-location-dot pin"></i>Kedavanthra,Kochi</p>
                                </div>
                              <hr/>
                              <p>K-RERA/PRJ/ERN/117/2022</p>
                          </div>
                        </div>
                      </div>
                      <div class="text-center py-2">
                        <a class="btn view-details" routerLink="demo2">VIEW DETAILS</a>
                      </div>
                    </div>
                    <div class="col-4"> 
                      <div class="card m-2 p-2">
                        <div class="text-center">
                           <img src="/assets/image/building-name/varma-pais-legacy-home.jpg" class="card-img-top cardimg" alt="image0303"/>
                           <div class="card-body">
                            <div class="card-title text-center">
                              <img src="/assets/image/building-name/varma-northlight-logo.png" alt="logo09"/>
                            </div>
                                <div class="text-center">
                                  <h4>
                                    2/3 BHK Luxury Appartment
                                   </h4>
                                   <p><i class="fa-solid fa-location-dot pin"></i>Vedakkekotta,Tripunthura,Kochi</p>
                                </div>
                                <hr/>
                                <p>K-RERA/ERN/ERN/021/2021</p>
                           </div>
                        </div>
                      </div>
                      <div class="text-center py-2">
                        <a class="btn view-details" routerLink="demo">VIEW DETAILS</a>
                    </div>
                    </div>
                    </div>
                 </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden"><i class="fa-solid fa-angle-left" style="color: black;"></i></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden"><i class="fa-solid fa-angle-right" style="color: black;"></i></span>
                </button>
</div>